* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background: #6F7172;
    font-size: 24px;
}

/* Calculator style */
.calculator__main{
    max-width: 700px;
    min-width: 670px;
    font-size: 48px;
    border: 10px solid black;
    padding: 0px;   
}

.operations {
    /* height: 300px; */
    width: 150px;
    background: #8BDAF6;
    border: 2px solid black;
    font-size: 72px;
    padding: 0px;
}

.calc_input_clear, .calc_input7, .calc_input8, .calc_input9, .operationsdiv, .calc_input4, .calc_input5, .calc_input6, .operationsmulti, .calc_input1, .calc_input2, .calc_input3, .operationssub, .calc_input0, .calc_inputdot, .calc_inputequal, .operationsplus {
    width: 150px;
    border: .5px solid black;
    background: #4496B3;
    font-size: 72px;
    margin: 0;
    padding: 0px;
}

.calc_text{
    background: #4496B3;
    border: .5px solid black;  
    font-size: 64px;  
}

